<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>Years of experience:</strong>
  <%= @employee.years_of_experience %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @employee.bio %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
